/*h1, h2 {
	font-family: Helvetica;
	color: $light;
	text-align: center;
}
*/
h1 {
	font-size: 4.25em;
	text-transform: uppercase;
	text-align: center;
	color: $light;
	padding: $padding 0;
	/*border: 5px solid $light;*/
}


h3 {
	font-size: 1em;
	text-align: center;
	color: $light;
	border-bottom: 2px solid $color;
	border-top: 2px solid $color;
	padding: 10px 0;
	max-width: 20%;
	text-transform: uppercase;
	margin-top: 5%;

	p {
		color: $light;
		text-align: center;
		font-size: 1.25em;
		max-width: 50%;
		margin-top: 50px;
	}
}

p.intro {
	color: $light;
	text-align: center;
	margin-top: 10px;
	max-width: 65%;
	line-height: 1.75em;
}